


@media (max-width:1440px){
  .header{
    padding: 50px 40px;
    &__tel{
      margin-right: 15px;
    }
  }
  .menu{
    &__item{
      margin-left: 30px;
    }
  }
  .top{
    &__content{
      left: 10%;
    }
    &__title{
      font-size: 90px;
      line-height: 90px;
      margin-bottom: 40px;
    }
    .title::after{
      width: 13px;
      height: 13px;
      right: 43%;
    }
    &__text {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 75px;
      max-width: 485px;
    }

  }
  .consultation{
    .title::after {
      right: 26%;
      bottom: 12px;
    }
  }
}

@media (max-width:1200px){
  .header{
    &__btn{
      padding: 10px 25px;
      font-size: 18px;
    }
    &__tel{
      font-size: 18px;
    }
  }

  .slick-arrow{
    right: 65px;
    top: -65px;
  }
  .slick-prev {
    right: 180px;
  }

  .consultation{
    background-image: none;
    &__content {
      padding: 100px 0;
      margin: 0 auto;
    }
  }

  .presintation{
    &__info {
      margin-right: 0;
    }
  }

  .news__small {
    margin-right: auto;
  }
}

@media (max-width:1080px){
  .header{
    &__tel{
      display: none;
    }
  }
  .menu{
    &__item{
      margin-left: 25px;
    }
  } 

  .top{
    &__content {
      left: 5%;
      max-width: 410px;
    }
    &__title {
      font-size: 65px;
      line-height: 65px;
      margin-bottom: 20px;
    }
    .title::after{
      right: 24%;
      bottom: 10px;
    }
    &__subtitle {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 50px;
    }
  }
  .about {
    background-image: none;
    &__content {
      max-width: 530px;
      margin: 0 auto;
      padding: 100px 0;
    }
  }

  .presintation{
    &__inner {
      padding: 100px 0;
      display: flex;
      flex-direction: column;
    }
    &__content {
      order: -1;
      margin: 0 auto;
    }
    &__info {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .cases{
    &__inner{
      padding-top: 100px;
    }
    &__list{
      flex-wrap: wrap;
    }
  }
}

@media (max-width:1000px){
  .posts {
    padding: 120px 0;
  }
  .news {
    flex-direction: column;
    &__small {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
    &__small-item:first-child {
      margin-bottom: 25px;
    }
  }
}

@media /* (min-width: 550px) and  */(max-width: 900px) and (orientation: landscape){
  .header {
    padding: 25px 30px;
  }
  .top{
    &__content{
      top: 60%;
    }
    &__title {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 15px;
    }
    .title::after {
      right: 52%;
      bottom: 9px;
      width: 10px;
      height: 10px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    .slick-arrow{
      bottom: 30px;
      padding-bottom: 0;
      font-size: 10px;
      line-height: 18px;
      width: 50px;
    }
    .slick-prev {
      right: 80px;
    }
    .slick-next {
      right: 20px;
    }
    &__btn-play {
      margin-right: 15px;
    }
    &__btn-about{
      padding-bottom: 5px;
      font-size: 13px;
      line-height: 21px;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #2A2E3D;
      }
    }
    &__btn-video {
      padding-top: 2px;
      font-size: 14px;
    }
  }

  .subtitle{
    font-size: 14px;
    line-height: 18px;
    padding-left: 50px;
    &::before {
      width: 35px;
    }
  }
  .btn{
    img{
      max-width: 60%;
    }
    &::before{
      width: 58px;
      height:58px;
      top: 43%;
      left: 30%;
      border: 1px solid rgba(221,66,66,0.65);
      filter: blur(3px);
    }
    &::after{
      width: 82px;
      height: 82px;
      top: 43%;
      left: 30%;
      border: 1px solid rgba(221,66,66,0.65);
      filter: blur(4px);
    }
  }
  .slick-dots {
    right: 40px;
  }
  .top {
    .slick-next {
      right: 40px;
    }
    .slick-prev {
      right: 140px;
    } 
  }
  .slick-dots button {
    width: 25px;
    height: 6px;
  }
  .slick-dots li.slick-active button {
    width: 40px;
  }
  .slick-dots li {
    margin-bottom: 10px;
  }

  .consultation{
    .title::after {
      right: 26%;
      bottom: 13px;
    }
  }
  .presintation .title::after {
    right: 10%;
    bottom: 10px;
  }
  .cases .title::after {
    right: 1%;
    bottom: 10px;
  }

  .posts .title::after {
    right: 12%;
    bottom: 10px;
  }
}

@media (max-width:880px){
  .menu{
    display: none;
  } 
  .nav{
    order: 1;
    margin-left: 25px;
    &__btn{
      display: block;
    }
  }
  .top-slider__bg {
    background-position: center center;
    background-size: cover;
  }

  .services{
    background-size: 70%;
    padding: 120px 0;
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 90px;
    }
  }
}

@media (max-width:760px){
  .presintation{
    &__info-item:nth-child(3) {
      margin-top: 0;
    }
    &__info-item--dawn {
      transform: translateY(0px);
    }
    &__info{
      flex-wrap: wrap;
    }
  }

  .cases{
    &__inner {
      align-items: start;
      flex-direction: column;
    }
    &__item{
      width: 50%;
    }
    &__text {
      margin-bottom: 20px;
    }
  }
}

@media /* (min-width: 550px) and  */(max-width: 570px) and (orientation: landscape){
  .header {
    padding: 15px 20px;
  }
  .subtitle{
    font-size: 11px;
    line-height: 13px;
    padding-left: 35px;
    &::before {
      width: 25px;
    }
  }
  .top{
    /* &__content {
      top: 70%;
    } */
    .title {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 10px;
    }
    .title::after {
      right: 8%;
      bottom: 8px;
      width: 7px;
      height: 7px;
    }
  }
  .about .title::after {
    right: 46%;
  }
  .title {
    font-size: 61px;
  }

  .consultation .title::after {
    right: 28%;
  }
  .presintation .title::after {
    right: 14%;
  }

  .cases .title::after {
    right: 4%;
    bottom: 12px;
  }

  .posts .title::after {
    right: 14%;
    bottom: 11px;
  }

  
}

@media (max-width:640px){
  .slick-dots {
    right: 40px;
  }
  .top {
    .slick-next {
      right: 40px;
    }
    .slick-prev {
      right: 140px;
    } 
  }
  .slick-dots button {
    width: 25px;
    height: 6px;
  }
  .slick-dots li.slick-active button {
    width: 40px;
  }
  .slick-dots li {
    margin-bottom: 10px;
  }
}

@media (max-width:540px){
  .slick-dots {
    right: 20px;
  }
  .slick-dots button {
    width: 10px;
  }
  .slick-dots li.slick-active button {
    width: 15px;
  }

  .about{
    &__title {
      margin-bottom: 20px;
    }
    .title::after {
      right: 77%;
    }
    &__descr {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 28px;
    }
    &__text {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 27px;
    }
  }

  .services {
    .title::after {
      right: 20%;
      bottom: 8px;
    }
  }
  .services-slider .slick-slide {
    max-width: 100%;
  }
  .services-slider__item {
    max-width: 100%;
  }

  .consultation{
    &__subtitle {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 25px;
    }
    .title::after{
      right: 43%;
    }
    &__text {
      margin-bottom: 40px;
    }
  }
  .form{
    &__input-box {
      display: block;
      margin-bottom: 0;
    }
    &__input {
      margin-bottom: 20px;
      margin-right: 0;
      padding-bottom: 15px;
      width: 100%;
      display: block;
      padding-right: 0;
    }
    &__textarea {
      margin-bottom: 30px;
      height: 100px;
    }
  }

  .presintation{
    &__subtitle {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 25px;
    }
    .title::after {
      right: 33%;
    }
    &__info-item{
      margin-right: 0;
    }
  } 

  .cases{
    &__inner{
      margin-bottom: 50px;
    }
    &__subtitle {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 25px;
    }
    .title::after {
      right: 20%;
    }
    &__item {
      width: 100%;
    }
    &__item-img{
      width: 100%;
    }
  }

  .posts{
    &__subtitle {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 25px;
    }
    .title::after {
      right: 30%;
    }
    &__top {
      margin-bottom: 40px;
    }
  }
}

@media (max-width:440px){
  .header{
    padding: 25px 20px;
    &__btn{
    padding: 3px 15px;
    font-size: 12px;
    }
  }
  .nav{
    margin-left: 15px;
  }
  .top{
    &__title {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 10px;
    }
    &__content {
      max-width: 100%;
    }
    &__text {
      max-width: 100%;
      padding-right: 30px;
    }
    &__btn-play {
      margin-right: 5px;
    }
    &__btn-about {
      padding-bottom: 6px;
      font-size: 12px;
      line-height: 16px;
    }
    &__btn-video {
      padding-top: 0;
      font-size: 14px;
      line-height: 25px;
      color: #DD4242;
    }
    .title::after {
      right: 38%;
      bottom: 8px;
      width: 9px;
      height: 9px;
    }
    .slick-arrow{
      bottom: 30px;
      padding-bottom: 0;
      font-size: 10px;
      line-height: 18px;
      width: 50px;
    }
    .slick-prev {
      right: 80px;
    }
    .slick-next {
      right: 20px;
    }

    &__btn-about::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #2A2E3D;
    }
    &__btn{
      align-items: center;
    }
  }
  
  .btn{
    img{
      max-width: 60%;
    }
    &::before{
      width: 65px;
      height: 65px;
      top: 50%;
      left: 30%;
      border: 1px solid rgba(221,66,66,0.65);
      filter: blur(3px);
    }
    &::after{
      width: 88px;
      height: 88px;
      top: 50%;
      left: 30%;
      border: 1px solid rgba(221,66,66,0.65);
      filter: blur(4px);
    }
  }

  .about{
    &__content {
      padding: 80px 0;
      max-width: 100%;
    }
    .title::after {
      right: 30%;
    }
  }

  .slick-arrow {
    right: 20px;
    top: -35px;
    width: 50px;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 7px;
  }
  .slick-prev {
    right: 90px;
  }

  .services {
    padding: 80px 0;
    .title::after {
      right: 35%;
    }
    &__text {
      margin-bottom: 50px;
    }
  }
  .services-slider__item {
    padding: 50px 0;
    /* max-width: 85%; */
  }

  .consultation{
    &__content {
      padding: 80px 0;
    }
    .title::after {
      right: 23%;
    }
  }
  ul.presintation__list{
    margin-bottom: 55px;
  }
  .presintation {
    .title::after {
      right: 12%;
    }
    &__text {
      margin-bottom: 40px;
    }
    &__item {
      margin-bottom: 25px;
      padding-left: 35px;
    }
    &__inner{
      padding: 80px 0;
    }
    &__info-item {
      padding: 50px 20px;
      margin-bottom: 15px;
    }
    &__info-item:nth-child(odd) {
      background: linear-gradient(180deg, #080A12 0%, rgba(8, 10, 18, 0) 100%);
    }
  }

  .cases {
    .title::after {
      right: -2%;
    }
    &__inner {
      padding-top: 80px;
    }
    ul.cases__list {
      margin-bottom: 80px;
    }
  }

  .posts {
    padding: 80px 0;
    background-size: contain;
    background-position: right 20%;
    .title::after {
      right: 9%;
    }
  }
  .news{
    &__small-link {
      margin-right: 15px;
      height: 170px;
    }
    &__top-link {
      margin-right: 10px;
    }
    &__content-link {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: auto;
    }
  }
}

@media (max-width:390px){
  .top .title::after {
    right: 35%;
  }
  .about .title::after {
    right: 26%;
  }
  .services .title::after {
    right: 31%;
  }
  .consultation .title::after {
    right: 19%;
    bottom: 8px;
  }
  .presintation .title::after {
    right: 7%;
  }
  .cases .title::after {
    right: 59%;
  }
  .news{
    &__top{
    display: block;
    }
    &__time{
    display: block;
    }
    &__big{
      .news__top {
        display: flex;
      }
    }
  }
  .posts .title::after {
    right: 3%;
  }
}

@media (max-width:380px){
  .top{
    &__title {
      font-size: 35px;
      line-height: 40px;
    }
    .title::after{
      right: 51%;
    }
    &__text {
      font-size: 15px;
      line-height: 24px;
      padding-right: 40px;
    }
  }

  .about .title::after {
    right: 23%;
  }
  .services .title::after {
    right: 28%;
  }
  .slick-slide img {
    width: 55%;
  }
  .services-slider{
    &__item {
      padding: 30px 0;
    }
    &__circle {
      margin-bottom: 15px;
      width: 100px;
      height: 100px;
    }
    &__text {
      margin: 0 auto 20px;
    }
  }
  .consultation .title::after {
    right: 15%;
  }

  .presintation .title::after {
    right: 3%;
  }
  .cases .title::after {
    right: 57%;
  }
  .posts .title::after {
    right: 0%;
  }
}


@media (max-width:340px){
  .about{
    &__subtitle {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 15px;
    }
    .title::after {
      right: 47%;
      bottom: 8px;
    }
    &__descr {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 24px;
    }
    &__text {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;
    }
    &__content {
      padding: 60px 0;
    } 
  }

  .services{
    padding: 60px 0;
    .title::after {
      right: 0;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__text{
      font-size: 16px;
    }
  }

  .services-slider__item {
    max-width: 85%;
  }

  .consultation{
    &__content {
      padding: 60px 0;
    }
    &__title {
      margin-bottom: 15px;
    }
    .title::after {
      right: 27%;
      bottom: 7px;
    }
    &__text {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }

  ul.presintation__list {
    margin-bottom: 35px;
  }
  .presintation{
    &__inner {
      padding: 60px 0;
    }
    &__title {
      margin-bottom: 15px;
    }
    .title::after {
      right: 16%;
      bottom: 8px;
    }
    &__item {
      margin-bottom: 15px;
    }
    &__item-text{
      font-size: 16px;
    }
    &__text {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 25px;
    }
    &__item-title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 5px;
    }
    &__info-item {
      width: 180px;
      padding: 40px 20px;
      margin-bottom: 10px;
    }
    &__info-number {
      position: relative;
      font-size: 36px;
      color: #fff;
      display: inline-block;
      margin-bottom: 16px;
      &::after{
        top: 0;
      }
    }
    &__info-descr{
      font-size: 16px;
      line-height: 16px;
    }
  }

  .cases{
    &__inner {
      padding-top: 60px;
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 15px;
    }
    .title::after {
      right: 3%;
    }
    ul.cases__list {
      margin-bottom: 60px;
    }
    &__text{
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .posts{
    padding: 60px 0;
    .title::after {
      right: 13%;
    }
    &__text{
      font-size: 15px;
    }
    &__title {
      margin-bottom: 15px;
    }
  }

  .news{
    &__small-item {
      flex-direction: column;
    }
    &__small-img{
      min-width: 100%;
    }
    &__small-link {
      margin-right: 0;
      margin-bottom: 15px;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__big-link {
      height: 300px;
    }
    &__big-img{
      height: 300px;
    }
  }
}


@media (max-width:320px){
  .top{
    .title::after{
      right: 43%;
    }
  }
}

