@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';
@import './components/about';
@import './components/services';
@import './components/cases';
@import './components/portfolio';
@import './components/error-404';
@import './components/blog';
@import './components/post';
@import './components/contact';

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 60px 70px;
  background: linear-gradient(360deg, rgba(25, 28, 38, 0) 0%, rgba(22, 25, 33, 0.6) 34.9%, rgba(20, 22, 29, 0.85) 65.62%, #111319 100%);
 
  &__navigation{
    display: flex;
    align-items: center;
  }
  &__contacts{
    margin-left: auto;
  }
  &__tel{
    color: $white;
    font-size: 20px;
    line-height: 30px;
    margin-right: 63px;
    @extend %mulish-400;
    transition: all .3s linear;
    &:hover{
      color: $accent;
    }
  }
  &__btn{
    @extend %btn;

  }
}
.nav{
  &__btn{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: none;
    &::before{
      position: absolute;
      content: '';
      width: 30px;
      height: 2px;
      background-color: $accent;
      left: 0;
      bottom: 6px;
    }
    &::after{
      position: absolute;
      content: '';
      width: 30px;
      height: 2px;
      background-color: $accent;
      left: 0;
      top: 6px;
    }
  }
  &__btn-line{
    display: block;
    width: 30px;
    height: 2px;
    background-color: $accent;
  }
}
.menu{
  display: flex;
  margin-left: 30px;
  &__item{
    margin-left: 60px;
  }
  &__item-link{
    color: $white;
    font-size: 18px;
    line-height: 27px;
    transition: all .3s linear;
    @extend %mulish-700;
    &:hover{
      color: $accent;
    }
  }
  &__item-link--active{
    color: $accent;
  }
  /* .error-404{
    display: none;
  } */
}


.top{
  background-color: $bg;
  height: 100vh;
  &__container{
    position: relative;
  }
  &__content{
    max-width: 750px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
  }
  &__subtitle{
    margin-bottom: 22px;
  }
  &__title{
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 50px;
    @extend %poppins-700;
  }
  .title::after{
    width: 20px;
    height: 20px;
  }
  &__text{
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 83px;
    max-width: 540px;
    @extend %poppins-300;
  }
  &__btn{
    display: flex;
    padding-left: 30px;
  }
  &__btn-play{
    margin-right: 45px;
  }
  &__btn-text{
    display: flex;
    flex-direction: column;
  }
  &__btn-about{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    @extend %poppins-400;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 170px;
      height: 1px;
      background-color:#2A2E3D;
    }
  }
  &__btn-video{
    padding-top: 6px;
    font-size: 16px;
    line-height: 27px;
    color: $accent;
    @extend %mulish-400;
  }
  .slick-arrow{
    position: absolute;
    right: 0;
    bottom: 82px;
    top: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: 1px solid $white;
    @extend %poppins-400;
    transition: all .3s linear;
    &:hover{
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  
  .slick-prev{
    width: 80px;
    right: 170px;
    z-index: 3;
    text-align-last: left;
  }
  .slick-next{
    width: 80px;
    right: 70px;
    text-align: right;
  }
}

.top-slider{
  position: relative;
 /*  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}
.top-slider__bg{
  position: relative;
   background-repeat: no-repeat;
   background-position: right ;
   height: 100vh;
   &::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba($color: #111319, $alpha: .7)
   }
}

.slick-dots{
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  li.slick-active{
    button{
      width: 50px;
      background-color: $white;
    }
  }
  li{
    height: 10px;
    margin-bottom: 15px;
  }
  button{
    padding: 0;
    background-color: #9DA4BD;
    width: 30px;
    height: 10px;
    border-radius: 5px;
    font-size: 0;
    border: none;
  }
}



.about{
  background-image: url('../images/bg-ab1.jpg');
  background-repeat: no-repeat;
  background-color: $bg-two;
  /* &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    background: linear-gradient(270.48deg, #12141C 0.45%, rgba(8, 10, 16, 0) 83.36%);
  } */
  
  &__inner{
    display: flex;
  }
  &__img-box{
    margin-right: 25px;
    width: 950px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(270.48deg, #12141C 0.45%, rgba(8, 10, 16, 0) 83.36%);
    }
  }
  &__img{
    width: 950px;
    height: 1024px;
    object-fit: cover;
  }
  &__content{
    max-width: 530px;
    padding-top: 224px;
    padding-bottom: 200px;
    margin-left: auto;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
  }
  .title::after{
    right: 29%;
  }
  &__descr{
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 33px;
    @extend %poppins-300;
  }
  &__text{
    margin-bottom: 60px;
  }
}

.services{
  background-color: $bg;
  background-image: url('../images/free-bg.png');
  background-repeat: no-repeat;
  background-position: right 10%;
  background-size: auto;
  padding: 180px 0 150px;
  &__content{
    max-width: 560px;
  }
  &__subtitle{
    margin-bottom: 21px;
  }
  &__title{
    margin-bottom: 40px;
  }
  .title::after{
    right: -2%;
  }
  &__text{
    margin-bottom: 70px;
  }

  
}
.slick-arrow{
  position: absolute;
  right: 414px;
  top: -106px;
  bottom: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: $white;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: 1px solid $white;
  @extend %poppins-400;
  transition: all .3s linear;
  &:hover{
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.slick-prev{
  width: 80px;
  z-index: 3;
  right: 514px;
  text-align-last: left;
}
.slick-next{
  width: 80px;
  text-align: right;
  margin-left: 40px;
} 
.slick-disabled{
  color: rgba($color: #fff, $alpha: .4);
  border-bottom: 1px solid rgba($color: #fff, $alpha: .4);
  &:hover{
    color: rgba($color: #fff, $alpha: .4);
    border-bottom: 1px solid rgba($color: #fff, $alpha: .4);
  }
}
.services-slider{
  /* padding-left: 367px; */
  margin-left: auto;
  max-width: 1520px;
  &__item{
    max-width: 380px;
    width: 100%;
    padding: 50px 0 140px;
    text-align: center;
    &:nth-child(odd){
      background: linear-gradient(180deg, #191C26 0%, rgba(25, 28, 38, 0) 100%);
    }
    &:nth-child(even){
      background: linear-gradient(180deg, #080A12 0%, rgba(8, 10, 18, 0) 100%);
      }
  }
  &__circle{
    background-color: rgba($color: #fff, $alpha: .05);
    border-radius: 50%;
    margin-bottom: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
  }
  &__text{
    font-size: 20px;
    line-height: 26px;
    @extend %poppins-500;
    max-width: 150px;
    margin: 0 auto 50px;
  }
  .slick-slide{
    max-width: 380px;
    &:nth-child(odd){
      background: linear-gradient(180deg, #191C26 0%, rgba(25, 28, 38, 0) 100%);
    }
    &:nth-child(even){
      background: linear-gradient(180deg, #080A12 0%, rgba(8, 10, 18, 0) 100%);
      }
  }
}

.consultation{
  background-image: url('../images/fore-bg.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  background-color: $bg-two;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #12141C 0%, rgba(18, 20, 28, 0) 100%);
  }
  &__content{
    padding: 210px 0 220px;
    max-width: 550px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
  }
  &__text{
    margin-bottom: 70px;
  }
}

.form{
  &__input-box{
    display: flex;
    margin-bottom: 35px;
  }
  &__input{
    margin-right: 30px;
    padding-bottom: 15px;
    width: 260px;
    padding-right: 15px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__input,
  &__textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3A3F50;
    color: #3A3F50;
    &::placeholder{
      font-size: inherit;
      line-height: inherit;
      color: #3A3F50;
      font-family: inherit;
    }
  }
  &__textarea{
    resize: none;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    height: 115px;
    padding-bottom: 10px;
  }
  &__btn{
    @extend %btn;
    z-index: 5;
  }
}

.presintation{
  background-color: $bg;
  background-image: url('../images/five-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 17% 50%;
  &__inner{
    padding: 264px 0;
    display: flex;
  }
  &__info{
    margin-right: 115px;
    column-count: 2;
  }
  &__info-item{
    padding: 55px 20px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 220px;
    &:nth-child(odd){
      background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #080A12 100%);
    }
    &:nth-child(even){
      background: linear-gradient(0deg, rgba(25, 28, 38, 0) 0%, #080A12 100%);
    }
    &:nth-child(3){
      margin-top: 65px;
    }
  }
  &__info-item--dawn{
    transform: translateY(65px);
  }
  &__info-number{
    position: relative;
    font-size: 48px;
    color: $white;
    display: inline-block;
    @extend %mulish-700;
    margin-bottom: 25px;
    &::after{
      content: '';
      position: absolute;
      top: -4px;
      right: -27px;
      background-image: url('../images/decor/+.png');
      background-repeat: no-repeat;
      width: 15px;
      height: 40px;
    }
  }
  &__content{
    max-width: 520px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
  }
  .title::after{
    right: 9%;
  }
  &__text{
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 33px;
  }
  &__list{
    max-width: 550px;
  }
  &__item{
    margin-bottom: 50px;
    padding-left: 50px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../images/decor/check.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
  }
  &__item-title{
    font-size: 22px;
    line-height: 27px;
    color: $white;
    @extend %poppins-500;
    margin-bottom: 15px;
  }
}

.cases{
  background-color: $bg-two;
  /* padding: 180px 0 110px; */
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 180px;
    margin-bottom: 70px;
  }
  &__content{
    max-width: 580px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
  }
  .title::after{
    right: 0%;
  }
  &__text{
    max-width: 550px;
  }
  ul.cases__list{
    margin-bottom: 110px;
  }
  &__list{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  &__item{
    width: 380px;
    /* transition: transform .3s linear; */
    position: relative;
    z-index: 2;
    &:hover{
      /* transform: translateY(-20px); */
      .cases__item-link{
        &::before{
          background-color: rgba($color: #000, $alpha: .4);
          z-index: 2;
        }
        &::after{
          background: linear-gradient(rgba(8, 10, 18, 0) 0%, rgba(140, 0, 0, 0.45) 100%);
        }
      }
      .cases__item-boxlink{
        opacity: 1;
      }
    }
  }
  &__item-link{
    z-index: 3;
    position: relative;
    display: block;
    transition: transform .3s linear;
    &:hover{
      transform: translateY(-20px);
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba($color: #000, $alpha: .55);
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      transition: all .3s linear;
      background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #191C26 100%);
    }
  }
  &__item-img{
    width: 380px;
    height: 490px;
    object-fit: cover;
    transition: all .3s linear;
    position: relative;
  }
  &__item-boxlink{
    transition: all .3s linear;
    opacity: 0;
    font-size: 22px;
    line-height: 27px;
    color: $white;
    max-width: 300px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    svg{
      margin-top: 15px;
    }
    path{
    transition: all .3s linear;
    }
    &:hover{
      color: $default;
      svg path
      {
        stroke: $default;
      }
    }
  }
}

.posts{
  padding: 180px 0 230px;
  background-color: $bg;
  background-image: url('../images/seven-bg.png');
  background-size: auto;
  background-position: right 0%;
  background-repeat: no-repeat;
  &__top{
    margin-bottom: 70px;
    max-width: 550px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
  }
  .title::after{
    right: 11%;
  }
}

.news{
  display: flex;
  align-items: flex-end;
  &__small{
    max-width: 550px;
    margin-right: 140px;
  }
  &__small-item{
    display: flex;
    &:first-child{
      margin-bottom: 40px;
    }
  }
  &__small-link{
    display: block;
    margin-right: 35px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, rgba(20, 23, 30, 0.69) 58.65%, #111319 100%);
    }
  }
  &__small-img{
    min-width: 170px;
    height: 170px;
    object-fit: cover;
    
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__top{
    display: flex;
    margin-bottom: 10px;
  }
  &__top-link{
    margin-right: 20px;
  }
  &__time{
    font-size: 14px;
    line-height: 24px;
  }
  &__content-link{
    font-size: 22px;
    line-height: 29px;
    color: $white;
    @extend %poppins-500;
    margin-bottom: 30px;
    transition: all .3s linear;
    &:hover{
      color: $accent;
    }
  }
  &__big{
    width: 391px;
    position: relative;
    .news__content{
      position: absolute;
      bottom: 40px;
      left: 25px;
      right: 10px;
    }
  }
  &__big-link{
    display: block;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, rgba(20, 23, 30, 0.69) 58.65%, #111319 100%);
    }
  }
  &__big-img{
    width: 391px;
    height: 391px;
    object-fit: cover;
  }
}

.newsletter{
  background-color: $bg-two;
  background-image: url('../images/nine-bg.png');
  background-size: auto;
  background-position: right 0%;
  background-repeat: no-repeat;
  z-index: 3;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 25%;
    background: linear-gradient(90deg, #12141C 75%, rgba(18, 20, 28, 0) 100%);
    z-index: -1;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 250px 0;
    z-index: 4;
  }
  &__subscribe{
    max-width: 470px;
    /* margin-right: 215px; */
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
    max-width: 360px;
  }
  .title::after{
    right: 21%;
  }
  &__text{
    max-width: 450px;
    margin-bottom: 70px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3A3F50;
    color: #3A3F50;
    margin-right: 70px;
    width: 320px;
    display: inline-block;
    &::placeholder{
      font-size: inherit;
      line-height: inherit;
      color: #3A3F50;
      font-family: inherit;
    }
  }
  &__form-btn{
    background-color: transparent;
    padding: 0;
    border: none;
  }
}

.quote{
  max-width: 385px;
  &__top{
    display: flex;
    margin-bottom: 60px;
  }
  &__avatar-img{
    min-width: 70px;
    height: 70px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 50px;
  }
  &__name{
    font-size: 20px;
    line-height: 29px;
    color: $white;
    @extend %poppins-500;
    margin-bottom: 10px;
  }
  &__profession{
    font-size: 16px;
    line-height: 27px;
  }
}

.blockquote{
  font-size: 22px;
  line-height: 33px;
  @extend %poppins-300;
  margin-bottom: 50px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -65px;
    right: -30px;
    background-image: url('../images/decor/icon-quote.svg');
  }
}

.footer{
  position: relative;
  z-index: 1;
  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #0D0F0F 76.56%);
  }
  &__inner{
    padding: 44px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #3A3F50;
  }
  &__corp{
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-top: 20px;
  }
  &__subtitle{
    @extend %mulish-700;
    color: $white;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 27px;
  }
  &__working{
    max-width: 180px;
  }
  &__address{
    max-width: 220px;
    font-style: normal;
  }
  &__text{
    font-size: 16px;
    line-height: 27px;
  }
  &__link{
    display: block;
    color: $default;
    font-size: 16px;
    line-height: 27px;
  }
}

/* #tr-popup{
  display: none;
} */





@import 'media';