



@media (max-width:1080px){
  .team {
    padding: 120px 0 ;
  }
}

@media /* (min-width: 550px) and  */(max-width: 900px) and (orientation: landscape){
  
  .video__popup {
    min-height: 200px;
    }
}

@media (max-width:880px){
  .about-us{
    &__content {
      padding: 240px 0 100px;
    }
    &__item {
      flex-direction: column;
      max-width: 540px;
      align-items: start;
      margin: 0 auto;
    }
    &__text {
      margin-bottom: 15px;
    }
    &__item-top,
    &__item-box  {
      margin-bottom: 35px;
    }
    &__circle-box{
      order: 1;
      margin: 0 auto 45px;
    }
  }
  .video__popup {
    min-height: 500px;
  }
}

@media (max-width:640px){
  .portners{
    &__list{
      flex-wrap: wrap;
    }
    &__list-item{
      width: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }
  }
}

@media /* (min-width: 550px) and  */(max-width: 570px) and (orientation: landscape){
  .about-us{
    &__content {
      padding: 165px 0 100px;
    }
  }
}


@media (max-width:540px){
  .about-us{
    &__subtitle {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 25px;
    }
    &__circle {
      width: 250px;
      padding: 70px 10px;
    }
    &__num {
      font-size: 70px;
      line-height: 70px;
      margin-bottom: 10px;
    }
    &__descr {
      font-size: 20px;
      line-height: 22px;
    }
  }

  .team{
    &__subtitle {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 25px;
    }
   
  }
  .video__popup {
    min-height: 350px;
  }
}

@media (max-width:440px){
  .about-us{
    &__content {
      padding: 160px 0 35px;
    }
  
    &__circle-box {
      margin: 0 auto 30px;
    }
    &__circle {
      width: 180px;
      padding: 48px 10px;
    }
    &__num {
      font-size: 55px;
      line-height: 55px;
      margin-bottom: 5px;
    }
    &__descr {
      font-size: 16px;
    }
    &__item-top,
    &__item-box  {
      margin-bottom: 20px;
    }
  }

  .team {
    padding: 80px 0;
    &__text {
      margin-bottom: 40px;
    }
    &__item{
      max-width: 310px;
    }
    &__item-img {
      height: 400px;
    }
    .slick-current .team__item {
      transform: translateY(0px);
    }
    .slick-slide {
      text-align: right;
    }
    &__item-boxlink{
      font-size: 20px;
      line-height: 22px;
      bottom: 30px;
      left: 30px;
      span{
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .portners {
    padding: 60px 0;
    &__list-link{
      display: flex;
      justify-content: center;
    }
    &__img{
      width: 80%;
    }
  }
 
  .video__popup {
    min-height: 260px;
  }
  .video__link  {
    margin-right: -32px;
  }
}

@media (max-width: 390px){
  .team .slick-arrow {
    top: -20px;
  }
}

@media (max-width: 340px){
  .about-us{
    &__content {
      padding: 160px 0 15px;
    }
    &__title {
      padding-right: 10px;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 16px;
    }
    &__item-top,
    &__item-box  {
      margin-bottom: 13px;
    }
    &__item-title {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 10px;
    }
    &__circle {
      width: 150px;
      padding: 41px 10px;
    }
    &__num {
      font-size: 45px;
      line-height: 45px;
    }
    &__descr {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .team {
    padding: 60px 0;
    &__title {
      margin-bottom: 15px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__item {
      max-width: 260px;
    }
    &__item-img {
      height: 335px;
    }
  }
  .portners {
    padding: 40px 0;
    &__img {
      width: 60%;
    }
  }

  .video__popup {
    min-height: 200px;
  }
}