.about-us{
  background-color: $bg;
  background-image: url('../../images/about-one.png');
  background-repeat: no-repeat;
  background-position: right 90%;
  background-size: auto;
  .number{
    top: 290px;
  }
  &__content{
    padding: 270px 0 120px;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  
  &__item-top{
    max-width: 530px;
  }
  &__item-box{
    max-width: 450px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
  }
  .title::after{
    right: 11%;
  }
  &__item-title{
    font-size: 28px;
    line-height: 36px;
    @extend %poppins-500;
    margin-bottom: 30px;
    color: $white;
  }
  &__text{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__circle-box{
    width: 450px;
    display: flex;
    justify-content: center;
  }
  &__circle{
    text-align: center;
    border: 1px solid $accent;
    border-radius: 50%;
    width: 300px;
    padding: 85px 10px;
  }
  &__num{
    font-size: 80px;
    line-height: 80px;
    display: block;
    color: $white;
    margin-bottom: 20px;
  }
  &__descr{
    font-size: 22px;
    line-height: 29px;
  }
}

.team{
  background-color: $bg-two;
  padding: 180px 0 180px;
  
  &__content{
    max-width: 490px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 40px;
  }
  .title::after{
    right: 8%;
  }
  &__text{
    margin-bottom: 70px;
  }
  &__list{
    /* padding-left: 350px; */
    max-width: 1520px;
    margin-left: auto;
  }
  &__item{
    max-width: 380px;
    transition: all .3s linear;
    position: relative;
    z-index: 2;
    &:hover{
      transform: translateY(-20px);
      .team__item-link{
        &::before{
          background-color: rgba($color: #000, $alpha: .4);
          z-index: 2;
        }
        &::after{
          background: linear-gradient(rgba(8, 10, 18, 0) 0%, rgba(140, 0, 0, 0.45) 100%);
        }
      }
      .team__item-boxlink{
        opacity: 1;
      }
    }
  }
  &__item-link{
    position: relative;
    z-index: 3;
    position: relative;
    display: block;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba($color: #000, $alpha: .55);
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #191C26 100%);
    }
  }
  &__item-img{
    width: 380px;
    height: 490px;
    object-fit: cover;
    transition: all .3s linear;
    position: relative;
  }
  &__item-boxlink{
    transition: all .3s linear;
    opacity: 0;
    font-size: 22px;
    line-height: 27px;
    color: $white;
    max-width: 300px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    span{
      font-size: 18px;
      line-height: 31px;
      color: $default;
    }
    svg{
      margin-top: 15px;
    }
    path{
    transition: all .3s linear;
    }
    &:hover{
      color: $default;
      span{
        color: $white;
      }
      svg path
      {
        stroke: $default;
      }
    }
  }
  .slick-list{
    padding-top: 20px;
  }
  
  .slick-current{
    .team__item{
      transform: translateY(-20px);
      .team__item-link{
        &::before{
          background-color: rgba($color: #000, $alpha: .4);
          z-index: 2;
        }
        &::after{
          background: linear-gradient(rgba(8, 10, 18, 0) 0%, rgba(140, 0, 0, 0.45) 100%);
        }
      }
      .team__item-boxlink{
        opacity: 1;
      }
    }
  }
}

.portners{
  background-color: $bg;
  padding: 105px 0;
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-item{
    transition: all .3s linear;
    &:hover{
      opacity: .3;
    }
  }
}

.video{
  &__popup{
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}